<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center my-4">New Message</h1>

        <%= turbo_frame_tag "new_message", target: "_top" do %>
            <%= form_with(model: [ @message.room, @message ], data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>        
            <div class="form-group">
                <%= form.text_field :content, class: 'form-control' %>
                <%= form.submit "Send", class: 'btn btn-primary mt-2' %>
            </div>
            <% end %>
        <% end %>

        <div class="mt-4 text-center">
            <%= link_to 'Back', @message.room, class: 'btn btn-secondary' %>
        </div>
        </div>
    </div>
</div>

